{
  "swagger": "2.0",
  "info": {
    "version": "1.1.0",
    "title": "FOUNDLUNTEER API",
    "description": "API for Foundlunteer Android App\n\nv1.1.0\n-Add Show saved job for individual\n-Create universal Add, Login, And Get For User"
  },
  "host": "aws.senna-annaba.my.id",
  "basePath": "/",
  "tags": [
    {
      "name": "User",
      "description": "For Organization or Individual"
    },
    {
      "name": "Individual"
    },
    {
      "name": "Organization"
    },
    {
      "name": "Job",
      "description": "For Organization or Individual"
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "schemes": ["https"],
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Enter the token with the Bearer: bearer [token]"
    }
  },
  "paths": {
    "/user/add": {
      "post": {
        "tags": ["User"],
        "summary": "Add User",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "User",
          "description": "Add New User",
          "schema": {
            "type": "object",
            "required": [
              "email",
              "password",
              "name",
              "address",
              "phone",
              "role"
            ],
            "properties": {
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "role": {
                "type": "integer"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": ["User"],
        "summary": "Login For User",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "User",
          "description": "Login For User",
          "schema": {
            "type": "object",
            "required": [
              "email",
              "password"
            ],
            "properties": {
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/get": {
      "get": {
        "tags": ["User"],
        "summary": "Get User Profile",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Try it out for response"

          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/individual/add": {
      "post": {
        "deprecated": true,
        "tags": ["Individual"],
        "summary": "Add Individual",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Individual",
          "description": "Add New Individual",
          "schema": {
            "type": "object",
            "required": [
              "email",
              "password",
              "name",
              "address",
              "phone",
              "age"
            ],
            "properties": {
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "age": {
                "type": "integer"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
      }
      }
    },
    "/individual/login": {
      "post": {
        "deprecated": true,
        "tags": ["Individual"],
        "summary": "Login For Individual",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Individual",
          "description": "Login For Individual",
          "schema": {
            "type": "object",
            "required": [
              "email",
              "password"
            ],
            "properties": {
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/individual/get": {
      "get": {
        "deprecated": true,
        "tags": ["Individual"],
        "summary": "Get Individual Profile",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Try it out for response"

          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/individual/update": {
      "post": {
        "tags": ["Individual"],
        "summary": "Update For Individual",
        "description": "All body request optional",
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Individual",
          "description": "Add New Individual",
          "schema": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "age": {
                "type": "integer"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/individual/saveordeletejob": {
      "post": {
        "tags": ["Individual"],
        "summary": "Add or Remove Job Form Individual Job Save List",
        "description": "when the individual wants to save (bookmark) a job based on the job id, the response will be \"saved\", when the individual hits again for the job that has been saved, the job will be deleted from the list and the response will be \"Deleted\"",
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Individual",
          "description": "Add New Individual",
          "schema": {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/individual/savedjob": {
      "get": {
        "tags": ["Individual"],
        "summary": "Get Individual Saved Job",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Try it out for response"

          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organization/add": {
      "post": {
        "deprecated": true,
        "tags": ["Organization"],
        "summary": "Add Organization",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Organization",
          "description": "Add New Organization",
          "schema": {
            "type": "object",
            "required": [
              "email",
              "password",
              "name",
              "address",
              "phone",
              "leader"
            ],
            "properties": {
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "leader": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organization/login": {
      "post": {
        "deprecated": true,
        "tags": ["Organization"],
        "summary": "Login For Organization",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Organization",
          "description": "Login For Organization",
          "schema": {
            "type": "object",
            "required": [
              "email",
              "password"
            ],
            "properties": {
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organization/get": {
      "get": {
        "deprecated": true,
        "tags": ["Organization"],
        "summary": "Get Organization Profile",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Try it out for response"

          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organization/update": {
      "post": {
        "tags": ["Organization"],
        "summary": "Update For Organization",
        "description": "All body request optional",
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Individual",
          "description": "Add New Individual",
          "schema": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "leader": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organization/getjob": {
      "get": {
        "tags": ["Organization"],
        "summary": "Get Organization Job",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Try it out for response"

          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/job/add": {
      "post": {
        "tags": ["Organization"],
        "summary": "Add Job By Organization",
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Job",
          "description": "Add New Job",
          "schema": {
            "type": "object",
            "required": [
              "title",
              "description"
            ],
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/job/update": {
      "post": {
        "tags": ["Organization"],
        "summary": "Update Job By Organization",
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Job",
          "description": "Update Job",
          "schema": {
            "type": "object",
            "required": [
              "id",
              "title",
              "description"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/job/delete": {
      "post": {
        "tags": ["Organization"],
        "summary": "Delete Job By Organization",
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "Job",
          "description": "Delete Job",
          "schema": {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/job/getalljob": {
      "get": {
        "tags": ["Job"],
        "summary": "Get All Job",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth":[]
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Try it out for response"

          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
